.content
  .hero-unit
    %h2 Kontrola!
  .row
    .span8
      = flash_messages
      %form{:action => "/controls/#{@control.id}", :method => 'POST', :id => 'controls', :class => 'form-horizontal well'}
        %fieldset
          %input{:type => 'hidden', :name => '_method', :value => 'PUT'}
          %input{:type => 'hidden', :name => 'control[was_controlled]', :value => 'true'}
          %div.control-group{ :class => @control.has_error_on?(:contact_id)}
            %label{:for => 'control_contact', :class => 'control-label'}
              Respondent
              %abbr *
            %div.controls
              %select{:name => 'control[contact_id]', :id => 'control_contact', :class => 'combobox' }
                %option
                - Contact.includes(:address => :city).each do |c|
                  - options = {:value => c.id}
                  - options.merge!(:selected => 'selected') if c.id == @control.contact_id
                  %option{options}= "#{c.full_name}, #{c.address.complete_address}"
              %span.help-inline= @control.flash_error_for(:contact_id)

          %div.control-group{ :class => @control.has_error_on?(:control_date)}
            %label{:for => 'control_control_date', :class => 'control-label'}
              Dátum kontroly
              %abbr *
            %div.controls
              %input{:type => 'text', :name => 'control[control_date]', :id => 'datepicker', :value => Date.today}
              %span.help-inline= @control.flash_error_for(:control_date)

          %div.control-group
            %label{:for => 'control_success', :class => 'control-label'} Úspešná kontrola?
            %div.controls
              %label{:for => 'control_success_true', :class => 'checkbox inline' }
                %input{:type => 'radio', :name => 'control[succeed]', :value => 'true', :checked => ('checked' if @control.succeed?), :id => 'control_success_true'}
                Áno
              %label{:for => 'control_success_false', :class => 'checkbox inline' }
                %input{:type => 'radio', :name => 'control[succeed]', :value => 'false', :checked => ('checked' if !@control.succeed?), :id => 'control_success_false'}
                Nie

          %div.control-group
            %label{:for => 'control_regulary_delivered', :class => 'control-label'} Pravidelne doručené?
            %div.controls
              %label{:for => 'control_regulary_delivered_true', :class => 'checkbox inline' }
                %input{:type => 'radio', :name => 'control[regulary_delivered]', :value => 'true', :checked => ('checked' if @control.regulary_delivered?), :id => 'control_delivered_true'}
                Áno
              %label{:for => 'control_regulary_delivered_false', :class => 'checkbox inline' }
                %input{:type => 'radio', :name => 'control[regulary_delivered]', :value => 'false', :checked => ('checked' if !@control.regulary_delivered?), :id => 'control_delivered_false'}
                Nie

          %div.control-group
            %label{:for => 'control_notice', :class => 'control-label'} Poznámka
            %div.controls
              %textarea{:name => 'control[notice]', :id => 'control_notice', :value => @control.notice}

          %div.form-actions
            %input{:type => 'submit', :value => 'Uložiť', :class => 'btn btn-primary'}
              %button{:type => 'reset', :class => 'btn'} Zrušiť
    .span4
      %div.well
        %h3 Zadanie kontroly
        %strong='Typ: ' + @control.control_type + ' kontrola'
        %br
        %strong='Adresa: ' + @control.for_address
        %br
        %strong='Kontrolór: '
        = @control.user.full_name
        %br
        - if @control.for_client
          %strong='Klient: '
          = @control.for_client
          %br

        %strong='Týždeň: '
        =@control.for_week.cweek.to_s
        %br
        - unless @control.notice.blank?
          %strong= 'Poznámka ' + (@control.notice.blank? ? 'nie je' : @control.notice)
          %br
      %div.well.hide#contact
