.content
  .hero-unit
    %h2 Pridať kontrolu
  .row
    .span12
      = flash_messages
      %form{:action => '/controls', :method => 'POST', :id => 'controls', :class => 'form-horizontal well'}
        %input{:type => 'hidden', :name => 'control[was_controlled]', :value => 'true'}
        %fieldset
          %div.control-group{ :class => @control.has_error_on?(:user_id)}
            %label{:for => 'control_user', :class => 'control-label'}
              Redakcia
              %abbr *
            %div.controls
              - if @contact
                %input{:type => 'hidden', :name => 'control[user_id]', :value => @contact.branch.actual_controlor.id}
                %h4= @contact.branch_name
              - else
                - if @current_user.is_admin?
                  %select{:name => 'control[user_id]', :id => 'control_user', :class => 'combobox' }
                    %option
                    - Branch.with_users.each do |b|
                      - options = {:value => b.actual_controlor.id}
                      %option{options}= b.name
                  %span.help-inline= @control.flash_error_for(:user_id)
                - else
                  %input{:type => 'hidden', :name => 'control[user_id]', :value => @current_user.id}
                  %h4= @current_user.branch_name

          %div.control-group{ :class => @control.has_error_on?(:for_week)}
            %label{:for => 'control_for_week', :class => 'control-label'}
              Týždeň
              %abbr *
            %div.controls
              %select{:name => 'control[for_week]', :id => 'control_contact', :class => 'combobox' }
                %option
                - week_numbers_with_dates.each do |week,date|
                  - options = {:value => date}
                  - options.merge!(:selected => 'selected') if week == Date.today.cweek
                  %option{options}= week.to_s + " týždeň - " + date.strftime(TIME_FORMAT)
              %span.help-inline= @control.flash_error_for(:for_week)

          %div.control-group{ :class => @control.has_error_on?(:for_address)}
            %label{:for => 'control_for_client', :class => 'control-label'}
              Mesto a Adresa
              %abbr *
            %div.controls
              - if @contact
                %input{:type => 'hidden', :name => 'control[for_address]', :value => @contact.address.complete_address.split(',').reverse.join(',')}
                %h4= @contact.address.complete_address
              - else
                %input{:type => 'text', :name => 'control[for_address]', :id => 'control_for_address'}
                %span.help-inline= @control.flash_error_for(:for_address)

          %div.control-group{ :class => @control.has_error_on?(:for_client)}
            %label{:for => 'control_for_client', :class => 'control-label'}
              Klient
            %div.controls
              %input{:type => 'text', :name => 'control[for_client]', :id => 'control_for_client'}
              %span.help-inline= @control.flash_error_for(:for_client)

          %div.control-group{ :class => @control.has_error_on?(:contact_id)}
            %label{:for => 'control_contact', :class => 'control-label'}
              Respondent
              %abbr *
            %div.controls
              - if @contact
                %input{:type => 'hidden', :name => 'control[contact_id]', :value => @contact.id}
                %h4= "#{@contact.full_name}, #{@contact.address.complete_address}"
              - else
                %select{:name => 'control[contact_id]', :id => 'control_contact', :class => 'combobox' }
                  %option
                  - Contact.includes(:address => :city).each do |c|
                    - options = {:value => c.id}
                    - options.merge!(:selected => 'selected') if c.id == @control.contact_id
                    %option{options}= "#{c.full_name}, #{c.address.complete_address}"
                %span.help-inline= @control.flash_error_for(:contact_id)

          %div.control-group{ :class => @control.has_error_on?(:control_date)}
            %label{:for => 'control_control_date', :class => 'control-label'}
              Dátum kontroly
              %abbr *
            %div.controls
              %input{:type => 'text', :name => 'control[control_date]', :id => 'datepicker', :value => Date.today}
              %span.help-inline= @control.flash_error_for(:control_date)

          %div.control-group
            %label{:for => 'control_type', :class => 'control-label'} Typ kontroly
            %div.controls
              %label{:for => 'control_type_phone', :class => 'checkbox inline' }
                %input{:type => 'radio', :name => 'control[control_type]', :value => 'Telefonická', :checked => 'checked', :id => 'control_type_phone'}
                Telefonická
              %label{:for => 'control_type_terain', :class => 'checkbox inline' }
                %input{:type => 'radio', :name => 'control[control_type]', :value => 'Terénna', :checked => '', :id => 'control_type_terain'}
                Terénna

          %div.control-group
            %label{:for => 'control_success', :class => 'control-label'} Úspešná kontrola?
            %div.controls
              %label{:for => 'control_success_true', :class => 'checkbox inline' }
                %input{:type => 'radio', :name => 'control[succeed]', :value => 'true', :checked => '', :id => 'control_success_true'}
                Áno
              %label{:for => 'control_success_false', :class => 'checkbox inline' }
                %input{:type => 'radio', :name => 'control[succeed]', :value => 'false', :checked => 'checked', :id => 'control_success_false'}
                Nie

          %div.control-group
            %label{:for => 'control_regulary_delivered', :class => 'control-label'} Pravidelne doručené?
            %div.controls
              %label{:for => 'control_regulary_delivered_true', :class => 'checkbox inline' }
                %input{:type => 'radio', :name => 'control[regulary_delivered]', :value => 'true', :checked => '', :id => 'control_delivered_true'}
                Áno
              %label{:for => 'control_regulary_delivered_false', :class => 'checkbox inline' }
                %input{:type => 'radio', :name => 'control[regulary_delivered]', :value => 'false', :checked => 'checked', :id => 'control_delivered_false'}
                Nie

          %div.control-group
            %label{:for => 'control_notice', :class => 'control-label'} Poznámka
            %div.controls
              %textarea{:name => 'control[notice]', :id => 'control_notice'}

          %div.form-actions
            %input{:type => 'submit', :value => 'Uložiť', :class => 'btn btn-primary'}
              -# %button{:type => 'reset', :class => 'btn'} Zrušiť
              %a{:href => '/controls', :class => 'btn'} Zrušiť
