.row
  .span12
    = flash_messages
    .well
      %h3
        Zadania pre kontroly
        .btn-group.pull-right
          %a.btn.btn-primary{:href => "/new/job"} + Pridať zadanie
          %a#search.btn.btn-success Vyhľadávanie
    %form.form-search.pull-right.well.hide
      %input{:type => 'text', :placeholder => 'Vyhľadávanie', :name => 'search', :class => 'input-tooltip', :'data-original-title' => 'Zadajte priezvisko respondenta'}
      %input{:type => 'submit', :value => 'Vyhladať', :class => 'btn btn-primary'}
    %table.table.table-striped.table-bordered.table-condensed
      %thead
        %tr
          %th ID
          %th.center Týždeň
          - if @current_user.is_admin?
            %th.center Redakcia
            %th Kontrolór
          %th Mesto a Adresa
          %th.center Typ
          %th.center Otázok
          - unless @current_user.is_admin?
            %th Poznámka
          %th.center Nástroje
      %tbody
        - @controls.each do |control|
          - @user_controls = control.user.controls
          %tr
            %td= control.id
            %td.center= control.week.week_date.cweek
            - if @current_user.is_admin?
              %td.center= control.user.branch.mark
              %td
                %a{:href => "/users/#{control.user_id}", :rel => 'popover', :class => '',
                :title => control.user.full_name,
                :'data-content' => "<strong> Kontrol: </strong>&nbsp #{@user_controls.size} </br> <strong>Úspešných: </strong> &nbsp #{@user_controls.to_a.count{|c| c.succeed?}}</br> <strong>Neoverených: </strong> &nbsp #{@user_controls.to_a.count{|c| c.verified?}}"}= control.user.full_name
            %td= control.for_address
            %td.center
              - if control.control_type == 'Telefonická'
                %span.label.label-info=control.control_type
              - else
                %span.label= control.control_type
            %td.center= control.assigned_questions.size
            - unless @current_user.is_admin?
              %td= control.notice
            %td.center
              - if @current_user.is_admin?
                %a.btn.btn-small{:href => "edit/jobs/#{control.id}", :style => 'float:left;margin-right:10px'}
                  %i.icon-edit
                  Upraviť
              %a.btn.btn-success.btn-small{:href => "edit/controls/#{control.id}", :style => (@current_user.is_admin? ? 'float:left' : '')}
                Kontrolovať
              - if @current_user.is_admin?
                %form{ :method => "POST", :action => "/jobs/#{control.id}"}
                  %input{ :type => 'hidden', :name => '_method', :value => 'DELETE'}
                  %input{ :class => 'btn btn-small btn-danger', :value => "Odstrániť", :type => "submit"}
    = will_paginate @controls, paginate_labels
