%form{:action => '/inspirations/from_client', :method => 'POST', :id => 'client_inspiration', :class => 'form-horizontal well'}
  %fieldset
    %legend Registračné údaje

    %div.control-group{ :class => @inspiration.has_error_on?('inspiration_client.name')}
      %label{:for => 'inspiration_company_name', :class => 'control-label'}
        Nazov firmy
        %abbr *
      %div.controls
        %input{:type => 'text', :name => 'inspiration[inspiration_client_attributes][name]', :id => 'inspiration_company_name', :value => @inspiration.inspiration_client_attributes[:name]}
        %span.help-inline= @inspiration.flash_error_for('inspiration_client.name')

    %div.control-group{ :class => @inspiration.has_error_on?('inspiration_client.ico')}
      %label{:for => 'inspiration_ico', :class => 'control-label'}
        IČO
        %abbr *
      %div.controls
        %input{:type => 'text', :name => 'inspiration[inspiration_client_attributes][ico]', :id => 'inspiration_ico', :value => @inspiration.inspiration_client_attributes[:ico]}
        %span.help-inline= @inspiration.flash_error_for('inspiration_client.ico')

    %div.control-group{ :class => @inspiration.has_error_on?('inspiration_client.contact_person')}
      %label{:for => 'inspiration_contact_person', :class => 'control-label'}
        Kontaktná osoba
        %abbr *
      %div.controls
        %input{:type => 'text', :name => 'inspiration[inspiration_client_attributes][contact_person]', :id => 'inspiration_contact_person', :value => @inspiration.inspiration_client_attributes[:contact_person]}
        %span.help-inline= @inspiration.flash_error_for('inspiration_client.contact_person')

    %div.control-group{ :class => @inspiration.has_error_on?('inspiration_client.phone')}
      %label{:for => 'inspiration_phone', :class => 'control-label'}
        Telefón
        %abbr *
      %div.controls
        %input{:type => 'text', :name => 'inspiration[inspiration_client_attributes][phone]', :id => 'inspiration_phone', :value => @inspiration.inspiration_client_attributes[:phone]}
        %span.help-inline= @inspiration.flash_error_for('inspiration_client.phone')

    %div.control-group{ :class => @inspiration.has_error_on?('inspiration_client.email')}
      %label{:for => 'inspiration_email', :class => 'control-label'}
        Email
      %div.controls
        %input{:type => 'text', :name => 'inspiration[inspiration_client_attributes][email]', :id => 'inspiration_email', :value => @inspiration.inspiration_client_attributes[:email]}
        %span.help-inline= @inspiration.flash_error_for('inspiration_client.email')

  %fieldset
    %legend Zadanie kontroly
    %div.form-inputs
      %div.control-group{ :class => @inspiration.has_error_on?('description')}
        %label{:for => 'inspiration_description', :class => 'control-label'}
          Popis
          %abbr *
        %div.controls
          %textarea{:name => 'inspiration[description]', :id => 'inspiration_description'}= @inspiration.description
          %span.help-inline= @inspiration.flash_error_for('description')

      %div.control-group{ :class => @inspiration.has_error_on?('week.week_date')}
        %label{:for => 'inspiratons_week', :class => 'control-label'}
          Týždeň
          %abbr *
        %div.controls
          %select{:name => 'inspiration[week_attributes][week_date]', :id => 'inspiratons_week', :class => 'combobox' }
            %option{ :selected => (@inspiration.errors.any? ? 'selected' : '')}
            - week_numbers_with_dates.each do |week,date|
              - options = {:value => date}
              - options.merge!(:selected => 'selected') if @inspiration.errors.empty? && (week == Date.today.cweek)
              %option{options}= week.to_s + " týždeň - " + date.strftime(TIME_FORMAT)
          %span.help-inline= @inspiration.flash_error_for('week.week_date')

      %div.inspiration_control_location.odd
        - if @inspiration.valid_inspiration_address_attributes && !@inspiration.valid_inspiration_address_attributes.empty?
          - @inspiration.valid_inspiration_address_attributes.each do |key,value|
            %div.control-group
              %label{:for => 'inspiratons_control_type', :class => 'control-label'} Typ kontroly
              %div.controls
                %label{:for => "inspiration_control_type_phone_for_#{key}", :class => 'checkbox inline' }
                  %input{:type => 'radio', :name => "inspiration[inspiration_address_attributes][#{key}][control_type]", :value => 'Telefonická', :checked => ( 'checked' if value[:control_type] == 'Telefonická'), :id => "inspiration_control_type_phone_for_#{key}"}
                  Telefonická
                %label{:for => "inspiration_control_type_terain_for_#{key}", :class => 'checkbox inline' }
                  %input{:type => 'radio', :name => "inspiration[inspiration_address_attributes][#{key}][control_type]", :value => 'Terénna', :checked =>( 'checked' if value[:control_type] == 'Terénna'), :id => "inspiration_control_type_terain_for_#{key}"}
                  Terénna
            %div.control-group
              %label{:for => "inspiration_address_for_#{key}", :class => 'control-label'}
                Mesto a Adresa
                %abbr *
              %div.controls
                %input{:type => 'text', :name => "inspiration[inspiration_address_attributes]][#{key}][address]", :id => "inspiration_address_for_#{key}", :value => value[:address], :class => 'location'}
        - else
          %div.control-group
            %label{:for => 'inspiratons_control_type', :class => 'control-label'} Typ kontroly
            %div.controls
              %label{:for => 'inspiration_control_type_phone', :class => 'checkbox inline' }
                %input{:type => 'radio', :name => 'inspiration[inspiration_address_attributes][location0][control_type]', :value => 'Telefonická', :checked => 'checked', :id => 'inspiration_control_type_phone'}
                Telefonická
              %label{:for => 'inspiration_control_type_terain', :class => 'checkbox inline' }
                %input{:type => 'radio', :name => 'inspiration[inspiration_address_attributes][location0][control_type]', :value => 'Terénna', :checked => '', :id => 'inspiration_control_type_terain'}
                Terénna
          %div.control-group{ :class => @inspiration.has_error_on?('inspiration_address.address')}
            %label{:for => 'inspiration_address', :class => 'control-label'}
              Mesto a Adresa
              %abbr *
            %div.controls
              %input{:type => 'text', :name => 'inspiration[inspiration_address_attributes]][location0][address]', :id => 'inspiration_address', :placeholder =>'napr: Bratislava, Blatnicka'}
              %span.help-inline= @inspiration.flash_error_for('inspiration_address.address')



    -#%div.inspiration_personal_info
    %div.actions
      %div.step_command
      %div.form-actions
        %input{:type => 'submit', :value => 'Odoslať', :class => 'btn btn-success'}
          - #%button{:type => 'reset', :class => 'btn'} Zrušiť
          %a{:href => '/login', :class => 'btn'} Zrušiť
          %button{:type => '', :class => 'btn', :id => 'add_more_locations'} ₊ Pridať lokalitu
