.row
  .span12
    = flash_messages
    .well
      %h3
        Podnety pre kontroly
    %table.table.table-striped.table-bordered.table-condensed
      %thead
        %tr
          %th ID
          %th.center Týždeň
          %th.center Redakcia
          %th.center Zadávateľ
          %th Mesto a Adresa
          %th Popis
          %th.center Nástroje
      %tbody
        %tr
          %td 1
          %td.center= Date.today.cweek
          %td.center BA
          %td.center Klient
          %td Bratislava, Blatnicka
          %td Potrebujem skontrolovat tieto adresy ci bol na nich roznesený letak Opel.
          %td.center
            %a.btn.btn-small.btn-success Zadať
            %a.btn.btn-small
              %i.icon-edit
              Upraviť
            %a.btn.btn-danger.btn-small Zmazať
        %tr
          %td 1
          %td.center= Date.today.cweek
          %td.center BA
          %td.center Klient
          %td Bratislava, Na Revine
          %td Potrebujem skontrolovat tieto adresy ci bol na nich roznesený letak Opel.
          %td.center
            %a.btn.btn-small.btn-success Zadať
            %a.btn.btn-small
              %i.icon-edit
              Upraviť
            %a.btn.btn-danger.btn-small Zmazať
        %tr
          %td 1
          %td.center= Date.today.cweek
          %td.center BA
          %td.center Klient
          %td Bratislava, Sancova
          %td Potrebujem skontrolovat tieto adresy ci bol na nich roznesený letak Opel.
          %td.center
            %a.btn.btn-small.btn-success Zadať
            %a.btn.btn-small
              %i.icon-edit
              Upraviť
            %a.btn.btn-danger.btn-small Zmazať
        %tr
          %td 1
          %td.center= Date.today.cweek
          %td.center BA
          %td.center Klient
          %td Bratislava, Radcianska
          %td Potrebujem skontrolovat tieto adresy ci bol na nich roznesený letak Opel.
          %td.center
            %a.btn.btn-small.btn-success Zadať
            %a.btn.btn-small
              %i.icon-edit
              Upraviť
            %a.btn.btn-danger.btn-small Zmazať
        %tr
          %td 1
          %td.center= Date.today.cweek
          %td.center BA
          %td.center Klient
          %td Bratislava, Dolnozemska
          %td Potrebujem skontrolovat tieto adresy ci bol na nich roznesený letak Opel.
          %td.center
            %a.btn.btn-small.btn-success Zadať
            %a.btn.btn-small
              %i.icon-edit
              Upraviť
            %a.btn.btn-danger.btn-small Zmazať
        %tr
          %td 1
          %td.center= Date.today.cweek
          %td.center BA
          %td.center Odberateľ
          %td Prievidza, Makovickeho
          %td Už asi pol roka nedostavam Prievidzko
          %td.center
            %a.btn.btn-small.btn-success Zadať
            %a.btn.btn-small
              %i.icon-edit
              Upraviť
            %a.btn.btn-danger.btn-small Zmazať
        %tr
          %td 1
          %td.center= Date.today.cweek + 1
          %td.center PP
          %td.center Klient
          %td Poprad, Blatnicka
          %td Potrebujem skontrolovat letak Tesco.
          %td.center
            %a.btn.btn-small.btn-success Zadať
            %a.btn.btn-small
              %i.icon-edit
              Upraviť
            %a.btn.btn-danger.btn-small Zmazať
        %tr
          %td 1
          %td.center= Date.today.cweek + 1
          %td.center PP
          %td.center Klient
          %td Poprad, Sportova
          %td Potrebujem skontrolovat letak Tesco.
          %td.center
            %a.btn.btn-small.btn-success Zadať
            %a.btn.btn-small
              %i.icon-edit
              Upraviť
            %a.btn.btn-danger.btn-small Zmazať
