.row
  .span12
    = flash_messages
    .well
      %h3
        Podnety pre kontroly
    %table.table.table-striped.table-bordered.table-condensed
      %thead
        %tr
          %th ID
          %th.center Týždeň
          %th.center Redakcia
          %th.center Zadávateľ
          %th Mesto a Adresa
          %th Popis
          %th.center Nástroje
      %tbody
        - @inspirations.each do |i|
          %tr
            %td= i.id
            %td.center= i.week.week_date.strftime(TIME_FORMAT)
            %td.center= i.week.branch_id.nil? ? "?" : i.week.branch.mark
            %td.center= i.contact.present? ? 'Respondent' : 'Klient'
            %td= i.contact.present? ? i.contact.complete_address : "#{i.inspiration_addresses.count} adries"
            %td= i.description
            %td.center
              - if i.contact.present?
                %a.btn.btn-small.btn-success{:href => "/inspirations/#{i.id}/prepare_job_for_respondent"} Pripraviť zadanie
              - else
                %a.btn.btn-small.btn-success{:href => "/inspirations/#{i.id}/prepare_job_for_client"} Pripraviť zadanie
              %a.btn.btn-danger.btn-small{:href => "/inspirations/#{i.id}/destroy"} Zmazať
