.content
  .hero-unit
    %h2 Registrácia kontrolóra
  .row
    .span12
      = flash_messages
      %form{:action => '/users', :method => 'POST', :class => 'well form-horizontal'}
        %fieldset
          %div.control-group{ :class => @user.has_error_on?(:branch_id)}
            %label{:for => 'user_branch', :class => 'control-label'}
              Redakcia
              %abbr *
            %div.controls
              %select{:name => 'user[branch_id]', :id => 'user_branch', :class => 'combobox' }
                %option
                - Branch.all.each do |b|
                  - options = {:value => b.id}
                  - options.merge!(:selected => 'selected') if b.id == @user.branch_id
                  %option{options}= b.name
              %span.help-inline= @user.flash_error_for(:branch_id)

          %div.control-group{ :class => @user.has_error_on?(:first_name)}
            %label{:for => 'user_first_name', :class => 'control-label'}
              Krstné meno
              %abbr *
            %div.controls
              %input{:type => 'text', :name => 'user[first_name]', :id => 'user_first_name', :value => @user.first_name}
              %span.help-inline= @user.flash_error_for(:first_name)

          %div.control-group{ :class => @user.has_error_on?(:last_name)}
            %label{:for => 'user_last_name', :class => 'control-label'}
              Priezvisko
              %abbr *
            %div.controls
              %input{:type => 'text', :name => 'user[last_name]', :id => 'user_last_name', :value => @user.last_name}
              %span.help-inline= @user.flash_error_for(:last_name)

          %div.control-group{ :class => @user.has_error_on?(:phone)}
            %label{:for => 'user_phone', :class => 'control-label'}
              Telefón
              %abbr *
            %div.controls
              %input{:type => 'text', :name => 'user[phone]', :id => 'user_phone', :value => @user.phone}
              %span.help-inline= @user.flash_error_for(:phone)

          %div.control-group{ :class => @user.has_error_on?(:email)}
            %label{:for => 'user_email', :class => 'control-label'}
              Email
              %abbr *
            %div.controls
              %input{:type => 'text', :name => 'user[email]', :placeholder => 'email', :id => 'user_email', :value => @user.email}
              %span.help-inline= @user.flash_error_for(:email)

          %div.control-group{ :class => @user.has_error_on?(:password)}
            %label{:for => 'user_password', :class => 'control-label'}
              Heslo
              %abbr *
            %div.controls
              %input{:type => 'password', :name => 'user[password]', :placeholder => 'heslo', :id => 'user_password'}
              %span.help-inline= @user.flash_error_for(:password)

          %div.control-group{ :class => @user.has_error_on?(:password)}
            %label{:for => 'user_password_confirmation', :class => 'control-label'}
              Potvrdenie hesla
              %abbr *
            %div.controls
              %input{:type => 'password', :name => 'user[password_confirmation]', :placeholder => 'heslo', :id => 'user_password_confirmation'}
              %span.help-inline= @user.flash_error_for(:password)

          %div.form-actions
            %input{:type => 'submit', :value => 'Uložiť', :class => 'btn btn-primary'}
              -#%button{:type => 'reset', :class => 'btn'} Zrušiť
              %a{:href => '/users', :class => 'btn'} Zrušiť
