.content
  .hero-unit
    %h2 Úprava respondenta
  .row
    .span12
      = flash_messages
      %form{:action => "/contacts/#{@contact.id}", :method => 'POST', :class => 'well form-horizontal'}
        %fieldset
          %input{:type => 'hidden', :name => '_method', :value => 'PUT'}
          %div.control-group{ :class => @contact.has_error_on?(:first_name)}
            %label{:for => 'contact_first_name', :class => 'control-label'}
              Krstné meno
              %abbr *
            %div.controls
              %input{:type => 'text', :name => 'contact[first_name]', :value => @contact.first_name, :id => 'contact_first_name'}
              %span.help-inline= @contact.flash_error_for(:first_name)

          %div.control-group{ :class => @contact.has_error_on?(:last_name)}
            %label{:for => 'contact_last_name', :class => 'control-label'}
              Priezvisko
              %abbr *
            %div.controls
              %input{:type => 'text', :name => 'contact[last_name]', :value => @contact.last_name,  :id => 'contact_last_name'}
              %span.help-inline= @contact.flash_error_for(:last_name)

          %div.control-group{ :class => @contact.has_error_on?(:phone)}
            %label{:for => 'contact_phone', :class => 'control-label'}
              Telefón
              %abbr *
            %div.controls
              %input{:type => 'text', :name => 'contact[phone]', :value => @contact.phone, :id => 'contact_phone'}
              %span.help-inline= @contact.flash_error_for(:phone)


          %div.control-group{ :class => @contact.has_error_on?(:city)}
            %label{:for => 'contact_city', :class => 'control-label'}
              Mesto
              %abbr *
            %div.controls
              %input{:type => 'text', :name => 'contact[city]', :value => @contact.address.city_name, :id => 'contact_city'}
              %span.help-inline= @contact.flash_error_for(:city)

          %div.control-group{ :class => @contact.has_error_on?(:street)}
            %label{:for => 'contact_address', :class => 'control-label'}
              Ulica
              %abbr *
            %div.controls
              %input{:type => 'text', :name => 'contact[street]', :value => @contact.address.street, :id => 'contact_address'}
              %span.help-inline= @contact.flash_error_for(:street)

          %div.control-group{ :class => @contact.has_error_on?(:number)}
            %label{:for => 'contact_number', :class => 'control-label'}
              Číslo domu
              %abbr *
            %div.controls
              %input{:type => 'text', :name => 'contact[number]', :value => @contact.address.number, :id => 'contact_number'}
              %span.help-inline= @contact.flash_error_for(:number)

          %div.control-group
            %label{:for => 'contact_favorite', :class => 'control-label'} Oblubený kontakt?
            %div.controls
              %label{:for => 'contact_favorite_true', :class => 'checkbox inline' }
                %input{:type => 'radio', :name => 'contact[is_favorite]', :value => 'true', :checked => ('checked' if @contact.is_favorite?) , :id => 'contact_favorite_true', :class => 'inline_radio'}
                ANO
              %label{:for => 'contact_favorite_false', :class => 'checkbox inline' }
                %input{:type => 'radio', :name => 'contact[is_favorite]', :value => 'false', :checked => ('checked' unless @contact.is_favorite?) , :id => 'contact_favorite_false', :class => 'inline_radio'}
                NIE

          %div.control-group
            %label{:for => 'contact_description', :class => 'control-label'} Poznámka
            %div.controls
              %textarea{:name => 'contact[description]', :id => 'contact_description', :value => @contact.description}

          %div.form-actions
            %input{:type => 'submit', :value => 'Uložiť', :class => 'btn btn-primary'}
              %button{:type => 'reset', :class => 'btn'} Zrušiť
