.row
  .span12
    = flash_messages
    .well
      %h3
        Respondenti
        .btn-group.pull-right
          %a.btn.btn-primary{:href => "/new/contact"} + Pridať respondenta
          %a#search.btn.btn-success Vyhľadávanie
    %form.form-search.pull-right.well.hide
      %input{:type => 'text', :placeholder => 'Vyhľadávanie', :name => 'search', :class => 'input-tooltip', :'data-original-title' => 'Zadajte mesto, ulicu alebo priezvisko'}
      %input{:type => 'submit', :value => 'Vyhladať', :class => 'btn btn-primary'}
    %table.table.table-striped.table-bordered.table-condensed
      %thead
        %tr
          %th ID
          - if @current_user.is_admin?
            %th.center Redakcia
          %th Respondent
          %th Telefon
          %th Mesto
          %th Adresa
          %th.green.center Uspešné
          %th.red.center Neuspešné
          %th.center Obľúbený
          %th.center Nástroje
      %tbody
        - @contacts.each do |contact|
          %tr
            %td= contact.id
            - if @current_user.is_admin?
              %td.center= contact.branch.mark
            %td
              %a{:href => "/contacts/#{contact.id}", :rel => 'popover', :class => '',
              :title => contact.full_name,
              :'data-content' => "<strong> Mesto: </strong> &nbsp #{contact.address.city_name}</br> <strong> Adresa: </strong> &nbsp #{contact.address.street} #{contact.address.number}, </br> <strong>Telefón: </strong> &nbsp#{contact.phone}"}= contact.full_name
            %td= contact.phone
            %td= contact.address.city_name
            %td= contact.address.street + ' ' + contact.address.number
            %td.green.center= contact.controls.to_a.count{|c| c.succeed?}
            %td.red.center= contact.controls.to_a.count{|c| !c.succeed?}
            - if contact.is_favorite?
              %td.center
                %span.label.label-success ANO
            - else
              %td.center
                %span.label NIE
            %td.center
              %a.btn.btn-small{:href => "/edit/contacts/#{contact.id}"}
                %i.icon-edit
                Upraviť
    = will_paginate @contacts, paginate_labels
