.hero-unit
  %h2
    Respondenti
    %a.pull-right.btn.btn-large.btn-primary{:href => "/new/contact"} + Pridať respondenta
.row
  .span12
    = flash_messages
    %table.table.table-striped.table-bordered.table-condensed
      %thead
        %tr
          %th ID
          - if @current_user.is_admin?
            %th.center Redakcia
          %th Respondent
          %th Mesto
          %th Adresa
          %th.blue.center Počet kontrol
          %th.green.center Uspešné
          %th.red.center Neuspešné
          %th.center Dobrý kontakt
          %th.center Nástroje
      %tbody
        - @contacts.each do |contact|
          %tr
            %td= contact.id
            - if @current_user.is_admin?
              %td.center= contact.branch.mark
            %td
              %a{:href => "/contacts/#{contact.id}", :rel => 'popover', :class => 'with_popover',
              :title => contact.full_name,
              :'data-content' => "<strong> Mesto: </strong> &nbsp #{contact.address.city_name}</br> <strong> Adresa: </strong> &nbsp #{contact.address.street} #{contact.address.number}, </br> <strong>Telefón: </strong> &nbsp#{contact.phone}"}= contact.full_name
            %td= contact.address.city_name
            %td= contact.address.street + ' ' + contact.address.number
            %td.blue.center= contact.controls.size
            %td.green.center= contact.controls.to_a.count{|c| c.succeed?}
            %td.red.center= contact.controls.to_a.count{|c| !c.succeed?}
            - if contact.is_favorite?
              %td.center
                %span.label.label-success ANO
            - else
              %td.center
                %span.label NIE
            %td.center
              %a{:href => "/edit/contacts/#{contact.id}"} Upraviť
    = will_paginate @contacts, paginate_labels
