.row
  .span12
    = flash_messages
    .well
      %h3
        Doplňujúce otázky pre kontroly
        .btn-group.pull-right
          %a.btn.btn-primary{:href => "/new/question"} + Pridať otázku
          %a#search.btn.btn-success Vyhľadávanie
    %form.form-search.pull-right.well.hide
      %label{:for => 'question_branch', :class => 'control-label'}
        Redakcia
      %select{:name => 'question[branch_id]', :id => 'question_branch', :class => 'combobox' }
        %option
        - Branch.all.each do |b|
          - options = {:value => b.id}
          %option{options}= b.name
      %label{:for => 'question_week', :class => 'control-label'}
        Týždeň
      %select{:name => 'question[week_date]', :id => 'question_week', :class => 'combobox' }
        %option
        - week_numbers_with_dates.each do |week,date|
          - options = {:value => date}
          - options.merge!(:selected => 'selected') if week == Date.today.cweek
          %option{options}= week.to_s + " týždeň - " + date.strftime(TIME_FORMAT)
      %input{:type => 'submit', :value => 'Vyhladať', :class => 'btn btn-primary'}
    %table.table.table-striped.table-bordered.table-condensed
      %thead
        %tr
          %th ID
          %th.center Týždeň
          %th.center Redakcia
          %th Otazka
          %th.center Zadania
          %th.center Nástroje
      %tbody
        - @questions.each do |question|
          %tr
            %td= question.id
            %td.center= question.week.week_date.cweek
            %td.center= question.branch_mark
            %td= question.question
            %td.center= question.answers.size
            %td.center{:style => 'width:150px'}
              %a.btn.btn-small{:href => "edit/questions/#{question.id}", :style => 'float:left'}
                %i.icon-edit
                Upraviť
              - if question.answers.count.zero?
                %form{ :method => "POST", :action => "/questions/#{question.id}"}
                  %input{ :type => 'hidden', :name => '_method', :value => 'DELETE'}
                  %input{ :class => 'btn btn-small btn-danger', :value => "Odstrániť", :type => "submit"}
              - else
                %a.btn.btn-small.btn-danger.disabled{:rel => 'tooltip', :'data-original-title' => 'Otázka je už použitá v zadaní na kotrolu' } Odstrániť
    = will_paginate @questions, paginate_labels
